<h2>Sign in using one of the following services </h2>

<%= link_to image_tag('/images/facebook_64.png'), '/auth/facebook', :class => 'quick', :remote => true %>
<%= link_to image_tag('/images/twitter_64.png'), '/auth/twitter', :class => 'quick', :remote => true %>
<%= link_to image_tag('/images/google_64.png'), '/auth/google', :class => 'quick', :remote => true %>
